.main-picture
{
   height: 300px; 
   width: auto; 
   margin-left: 25px; 
   margin-right: 25px;
}

.background
{
   background-color: #f0f0f0;
}

.divider{
   width:5px;
   height:auto;
   display:inline-block;
}